# --- FILE CẤU HÌNH MẬT (TUYỆT ĐỐI KHÔNG XÓA) ---
client_secret.json
session.json
firebase_config.json

# --- FILE RÁC PYTHON ---
__pycache__/
*.pyc

# --- THƯ MỤC LOG & DATA ---
logs/
data/

# --- FILE ĐÓNG GÓI EXE (Sau này dùng) ---
build/
dist/
*.spec

# --- MÔI TRƯỜNG ẢO ---
venv/
env/
.idea/
.vscode/